@using MvcTicariOtomasyon.Models.siniflar;  <!--kullanacagımız modele erişmek için-->
@model List<departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">

    <tr>
        <th>
            ID
        </th>
        <th>
            Departman Adı
        </th>
        <th>Sil</th>
        <th>
            Güncelle
        </th>
        <th>
            Detaylar
        </th>
    </tr>
    @foreach (var k in Model)
    {

<tr>
    <td>
        @k.Departmanid
    </td>
    <td>
        @k.DepartmanAd
    </td>
    <td><a href="/departman/DepartmanSil/@k.Departmanid" class="btn btn-danger">Sil</a></td>
    <td><a href="/departman/DepartmanGetir/@k.Departmanid" class="btn btn-warning">Güncelle</a></td>
    <td><a href="/departman/DepartmanDetay/@k.Departmanid" class="btn btn-default"style="background-color: #8a77b1;color: white">Detaylar</a></td>
</tr>

    }
</table>
<a href="/departman/DepartmanEkle" class="btn btn-info">Departman Ekle</a>

